@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
}
*:focus {
outline: 0!important;
}
b,span,strong{font-size:inherit;}
b,strong{font-weight: 700;}
a,a:hover,a:focus,a:active{text-decoration: none;color: inherit;}
h1,h2,h3,h4,h5,h6{margin-top: 0;font-weight: 400;color:#02B4B6;margin-bottom: 30px;text-shadow: 0 0 10px rgba(2, 180, 182, 0.25);}

input,
textarea{
    border: 0!important;
    border-bottom: solid 2px #02b4b6!important;
    border-radius: 0!important;
    box-shadow: none!important;
    height: auto;
    font-size: 18px;
    padding: 10px 15px;
    background: transparent;
}
.btn {
    border: solid 2px;
    border-radius: 5px;
    font-size: 1em;
    letter-spacing: 4px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 150ms ease-out; 
    background: #FFF;
    border-color: #FFF;
    color: #0cebeb;
    transform:translateY(0px);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}
.btn:hover {
    color: #02B4B6;
    box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.2);
    transform:translateY(-3px);
}
.btn.btn_line {
    background: transparent;
    box-shadow: none;
    border-color: #FFF;
    color: #FFF;
}

.flex_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex_item {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

.flex_content_doble{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    width: 100%;
}
.flex_content_doble .left,
.flex_content_doble .right{
    order: 0;
    flex: 1 1 auto;
    align-self: center;
    width: 50%;
    padding: 0 15px;
}

.flex_content_doble .left{
    text-align: left;
}
.flex_content_doble .right{
    text-align: right;
}

header,.bottom_links{position: fixed;top: 0;left: 0;z-index:99;width: 100%;}
.bottom_links{top:initial;bottom: 0;}

header {
    background: transparent;
    transition: all 150ms ease-out;
}
header.stick{
    background: #02B4B6; 
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    width: 100%;
    padding:15px;
    margin:0;
    transition: all 150ms ease-out;
    z-index: 3;
    position: relative;
}
header nav ul li{
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    list-style:none;
}
header nav ul li.logo{
    flex: 1 1 auto;
}
header nav ul li.logo a{
	padding:0;
    float: left;
}
header nav ul li.logo img{
    height: 40px;
    width: auto;
    display: block;
}
header nav ul li a{display:inline-block;color: #FFF;padding:0 15px;text-align:center;text-transform: uppercase;font-weight: 300;}
header nav ul li a:hover{color: #FFF;}

.ubicanos ,
.contacto {
    display: block;
    position: fixed;
    bottom: 15px;
    left: 15px;
    padding: 15px;
    background: transparent;
    border-radius: 50%;
}
.ubicanos a,
.contacto a{display: block;position:relative;}
.ubicanos a img,
.contacto a img{display: block;width:50px;height: auto;
    transition: all 150ms ease-out;}
.ubicanos:hover img,
.contacto:hover img{
    transform: scale(1.1);
}

.contacto {
    left: initial;
    right: 15px;
}

.slider,.separator_bottom,.gradiant,.separator_top{position: relative;overflow:hidden;}

.separator_top:after{background: url(../img/separator_white_top.svg) no-repeat;display: block;position:absolute;z-index:2;top: -50px;left: 0;width:100%;height: 50%;content: "";background-size: 101% auto;background-position: center bottom;}
.separator_top img{width:100%;height: auto}

.separator_bottom:before{background: url(../img/separator_white.svg) no-repeat;display: block;position:absolute;z-index:2;bottom: -50px;left: 0;width:100%;height: 50%;content: "";background-size: 101% auto;background-position: center top;}
.separator_bottom img{width:100%;height: auto}

.gradiant:after{
	background: #0cebeb;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: block;position:absolute;z-index:1;top: 0;left: 0;width:100%;height: 100%;content: "";background-size: 100% auto;opacity: 0.8}
.slider .img_slider{width: 100%;height: auto;display: block;}
.slider h1{
    width: 100%;
    height: auto;
    display: block;
    color: #FFF;
    font-weight: 300;
    font-size: 2.2em;
    max-width: 500px;
}
.slider h1 span{display: block;font-weight: inherit;font-size:1.2em;margin-bottom: 25px;}
.slider > .flex_center{position: absolute;width: 100%;height: 100%;z-index: 3;top: 0;left: 0}
.slider .text_center_slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}
.slider .text_center_slider .txt,
.slider .text_center_slider .img{
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}
.slider .text_center_slider .cont_btn{
    margin-top:35px;
}

.slider .arrow_down {
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -65px;
    z-index: 3;
}
.slider .arrow_down svg {
    display: block;
    width: 130px;
    height: auto;
}

.flex_container_description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.flex_container_description .flex_item {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
    width: 33.3333333333%;
}

.tech_item {text-align: center;padding: 15px;}
.tech_item img{width: 100%;height: auto;padding: 15px;max-width:200px}
.tech_item figcaption{padding: 0 30px;}


#easycharge{padding:100px 0}
#easycharge .flex_content_doble{ /* padding:60px 0 */ }
.logo_circulo {padding: 60px;display: block;margin: 0 auto;text-align: center;float: none;width: 280px;height: 280px;box-shadow: 0 0 80px 0px rgba(255, 255, 255, 0.32), -30px -29px 80px 0px rgba(2, 180, 182, 0.3), 25px 20px 130px -5px rgba(47, 55, 150, 0.6);border-radius: 50%;transition: all 150ms ease-out;}
.logo_circulo img{width: auto;height: 100%;}
.cont_map {}
.cont_map .map{}
.cont_map .map iframe{width: 100%;height:600px;}

.flex_content_doble.publicidad img{width: 100%;display: block;height: auto;padding: 60px;margin: 0 auto;}

.flex_formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    margin-top:200px;
    box-shadow: 10px 10px 50px 5px rgba(0,0,0,0.2);
}
.flex_formulario .right{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    background: #33354e;
    padding:30px;
    width: 500px;
}
.flex_formulario .left{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background: #FFF;
    padding:30px;
}
footer h3{margin:0;margin-bottom:15px;}
footer .form-group{margin-bottom: 0;}
footer .form-group+.form-group{margin-top:30px;}
footer input{height:49px!important}
footer .btn{color:#33354E!important}
footer input,
footer textarea {
    color: #FFF!important;
    background: transparent!important;
    font-size: 18px!important
}

footer ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF!important;
}
footer ::-moz-placeholder { /* Firefox 19+ */
  color: #FFF!important;
}
footer :-ms-input-placeholder { /* IE 10+ */
  color: #FFF!important;
}
footer :-moz-placeholder { /* Firefox 18- */
  color: #FFF!important;
}

ul.direccion,
ul.social {padding: 0;margin: 0;}
ul.direccion li,
ul.social li{list-style:none;display: block;}
ul.direccion li+li{margin-top: 20px;}
ul.direccion li a{color: #02B4B6;}
ul.direccion li b{display: block;color: #646464;}
ul.social li {display: inline-block;}
ul.social li svg{display: block;width: 30px;height: auto}
