@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
}
*:focus {
outline: 0!important;
}
b,span,strong{font-size:inherit;}
b,strong{font-weight: 700;}
a,a:hover,a:focus,a:active{text-decoration: none;color: inherit;}
h1,h2,h3,h4,h5,h6{margin-top: 0;font-weight: 400;color:#02B4B6}

.btn {
    border: solid 2px;
    border-radius: 0;
    font-size: 1em;
    letter-spacing: 4px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 150ms ease-out; 
    background: #FFF;
    border-color: #FFF;
    color: #0cebeb;
    transform:translateY(0px);
}
.btn:hover {
    color: #02B4B6;
    box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.2);
    transform:translateY(-3px);
}
.btn.btn_line {
    background: transparent;
    box-shadow: none;
    border-color: #FFF;
    color: #FFF;
}

.flex_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex_item {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}


header,.bottom_links{position: fixed;top: 0;left: 0;z-index:99;width: 100%;}
.bottom_links{top:initial;bottom: 0;}

header nav {}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    width: 100%;
    padding:30px;
    margin:0;
}
header nav ul li{
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    list-style:none;
}
header nav ul li.logo{
    flex: 1 1 auto;
}
header nav ul li.logo a{
	padding:0;
    float: left;
}
header nav ul li.logo img{
    height: 40px;
    width: auto;
    display: block;
}
header nav ul li a{display:inline-block;color: #FFF;padding:0 15px;text-align:center;text-transform: uppercase;font-weight: 300;}
header nav ul li a:hover{color: #FFF;}

.ubicanos ,
.contacto {
    display: block;
    position: fixed;
    bottom: 15px;
    left: 15px;
    padding: 15px;
    background: transparent;
    border-radius: 50%;
}
.ubicanos a,
.contacto a{display: block;position:relative;}
.ubicanos a img,
.contacto a img{display: block;width:50px;height: auto;
    transition: all 150ms ease-out;}
.ubicanos:hover img,
.contacto:hover img{
    transform: scale(1.1);
}

.contacto {
    left: initial;
    right: 15px;
}

.slider,.separator_bottom,.gradiant,.separator_top{position: relative;overflow:hidden;}

.separator_top:after{background: url(../img/separator_white_top.svg) no-repeat;display: block;position:absolute;z-index:2;top: -50px;left: 0;width:100%;height: 50%;content: "";background-size: 101% auto;background-position: center bottom;}
.separator_top img{width:100%;height: auto}

.separator_bottom:before{background: url(../img/separator_white.svg) no-repeat;display: block;position:absolute;z-index:2;bottom: -50px;left: 0;width:100%;height: 50%;content: "";background-size: 101% auto;background-position: center top;}
.separator_bottom img{width:100%;height: auto}

.gradiant:after{
	background: #0cebeb;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: block;position:absolute;z-index:1;top: 0;left: 0;width:100%;height: 100%;content: "";background-size: 100% auto;opacity: 0.8}
.slider .img_slider{width: 100%;height: auto;display: block;}
.slider h1{
    width: 100%;
    height: auto;
    display: block;
    color: #FFF;
    font-weight: 300;
    font-size: 2.2em;
    max-width: 500px;
}
.slider h1 span{display: block;font-weight: inherit;font-size:1.2em;margin-bottom: 25px;}
.slider > .flex_center{position: absolute;width: 100%;height: 100%;z-index: 3;top: 0;left: 0}
.slider .text_center_slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}
.slider .text_center_slider .txt,
.slider .text_center_slider .img{
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}
.slider .text_center_slider .cont_btn{
    margin-top:35px;
}

.slider .arrow_down {
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -65px;
    z-index: 3;
}
.slider .arrow_down svg {
    display: block;
    width: 130px;
    height: auto;
}

.flex_container_description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.flex_container_description .flex_item {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
    width: 33.3333333333%;
}

.tech_item {text-align: center;padding: 15px; padding-bottom: 100px;}
.tech_item img{width: 100%;height: auto;padding: 15px;max-width:200px}
.tech_item figcaption{padding: 0 30px;}


#easycharge{padding:100px 0}
#easycharge h1{margin-bottom:30px}