@media (min-width: 1200px) {
    #inicio .slider img{}
}
@media (max-width: 1200px) {
    #inicio .slider .img img{max-width: 300px;}
    #encuentranos .slider .img img{max-width: 480px;}
}
@media (max-width: 991px) {
    header{
        width: 100%;
        height: 100%;padding:30px;
    }
    header nav ul{flex-direction: column;}
    header nav ul li.logo{}

    .slider, .separator_bottom, .gradiant, .separator_top{overflow: visible;}
    header >.container{max-width: 100%;width: 100%;}
    .slider .text_center_slider {flex-direction: column;}
    .slider .text_center_slider .txt{order:1;}
    .slider .text_center_slider .img{order:0;}
    .slider h1 {text-align:center;font-size: 1.5em;margin:0;}
    .slider h1 span{margin-bottom:10px;}
    .slider .text_center_slider .cont_btn{text-align: center;margin-top: 10px;}
    #inicio .slider .img img{max-width:160px;margin-bottom: 10px;}
    .slider .arrow_down{    bottom: -50px;}
    .separator_bottom:before,.separator_top:after{display: none;}

    #encuentranos .slider .img img{max-width: 300px;margin-bottom: 30px;}
    
    .flex_container_description .flex_item{width: 50%;}
}
@media (min-width: 768px) {}
@media (min-width: 480px) {}