@import url('https://fonts.googleapis.com/css?family=Marvel:400i');

* {font-size:16px;line-height:1;outline: 0 none;font-family: 'Marvel', sans-serif;box-sizing:border-box;}
html,body{width: 100%;height: 100%;}
a,span{text-decoration:none;color: inherit;font-size: inherit;line-height: inherit;font-family: inherit;}
a:hover,a:active,a:visited{text-decoration:none;}
.btn{display:inline-block;padding:10px 20px;border:0;margin:0;}
.btn.btn-second{background:#33354E;color:#02B4B6;}
.flex_content_center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.flex_content_center .flex_item{
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

 
section#first{
    position:relative;width: 100%;height: 100vh;
    background:url(../img/line_green.svg), url(../img/back_gradiant.jpg);
    background-repeat: no-repeat;
    background-size: 50vw auto, 100% auto;
    background-position: top left, center;
}
  .text_easy_center{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
  }
  .text_easy_center .left_{
      order: 0;
      flex: 1 1 auto;
      align-self: center;
  }
  .text_easy_center .right_{
      order: 0;
      flex: 0 1 auto;
      align-self: center;
  }
  .btn_hacete_socio{position:absolute;z-index: 1;bottom:15px;right:15px;font-size:25px;}
  .en_construccion{position:absolute;z-index: 1;bottom:15px;left:15px;font-size:25px;margin:0;}
  .social{position:absolute;z-index: 1;top:15px;right:15px;padding: 0;margin: 0;}
  .social li{display:inline-block;}
  .social li svg{display: inline-block;margin: 5px;width: 30px;height: auto;}

@media (max-width: 1024px) {
  section#first{
      background-size: 50vw auto, 150% auto;
  }
}
@media (max-width: 800px) {
  .text_easy_center{
    flex-direction: column;
  }
  .text_easy_center .right_{margin-top:15px;}
  .text_easy_center .right_ img{width:100%;height: auto;max-width: 300px;}
}

@media (max-width: 600px) {
  section#first {
    background-size: 80vw auto, 450% auto;
  }
  .text_easy_center{
    display: block;
    padding:30px;
  }
  .text_easy_center .right_{margin-top:15px;}
  .text_easy_center .right_ img{max-width: 150px;margin: 0 auto;display: block;}
  .text_easy_center .left_ img{width:100%;height: auto;}
  .en_construccion{bottom:80px;width:100%;left:0;text-align: center;}
  .btn_hacete_socio{width:calc(100% - 30px);text-align: center;}
}
